node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.editorconfig
.firebase
.env
.firebaserc
.dockerignore
**/*.log
**/*.pid
**/secrets*
**/*.secret.*
**/*.local
.vscode
.idea
coverage
test
tests
e2e
cypress
**/*.test.js
**/*.spec.js
**/*.e2e.js
Dockerfile
docker-compose*.yml